// Global layout.
::-webkit-scrollbar {
	display: none;
}
body {
  background: map-get($colors, ui-light);
  margin: 0;
}

.container {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
}

.display-none {
  display: none !important;
}

a {
  text-decoration: none;
}
