// Todos module
.button {
  font-family: San Francisco;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &--bar {
    position: absolute;
    right: 5%;
    height: inherit;
    padding-top: 2px;
    width: auto;
    display: inline-block;
    text-align: right;
  }

  &--delete {
    border: none;
    outline: none;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: map-get($colors, darkgray);
    transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    background-color: map-get($colors, ui-transparent);
  }

  &--delete:hover {
    color: red
  }

  &--archive {
    background-color: $green;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color: map-get($colors, ui-light);
    border-radius: 5px;
    border: 1px solid map-get($colors, ui-light);
  }

}
