// Button module
.button {
  font-family: San Francisco;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &--bar {
    height: map-get($todo, height);
    padding-top: 10px;
    width: map-get($todo, button-bar-width);
    display: inline-block;
    text-align: right;
    // background-color: lightyellow;
  }

  &--delete {
    border: none;
    outline: none;
    height: 25px;
    width: 25px;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 24px;
    color: map-get($colors, darkgray);
    transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    background-color: map-get($colors, ui-transparent);
  }

  &--delete:hover {
    color: red
  }

  &--archive {
    background-color: $green;
    padding-left: 10px;
    padding-right: 10px;
    color: map-get($colors, ui-light);
    border-radius: 5px;
    border: 1px solid map-get($colors, ui-light);
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
  }

  &--archive:hover {
    border: 2px solid map-get($colors, primary);
  }

  &--archive-delete-all {
    background-color: $green;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 5%;
    top: 70px;
    border-radius: 5px;
    color: map-get($colors, ui-light);
    border: 1px solid map-get($colors, ui-light);
    outline: none;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
  }

  &--archive-delete-all:hover {
    border: 2px solid map-get($colors, primary);
  }

  &--complete-all {
    color: map-get($colors, primary);
    background-color: map-get($colors, ui-transparent);
    border: none;
    outline: none;
    font-weight: 500;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
  }

  &--complete-all:hover {
    text-shadow: 0px 1px 0px map-get($colors, gray);
  }
}
