// Navbar module
.navbar {
  background-color: map-get($colors, lightgray);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;

  &__item {
    text-decoration: none;
    margin-right: 25px;
    font-family: San Francisco;
    font-size: 14px;
    font-weight: 500;
    color: map-get($colors, gray);
    transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
  }

  &__item:hover {
    text-decoration: none;
    color: map-get($colors, ui-light);
  }

  &__item--active {
    font-weight: 700;
    color: black;
  }
}
