// Todo module.
.todo {
  cursor: pointer;
  width: 100%;

  &--status-completed {
    text-decoration: line-through;
  }

  &--status-archived {
    text-decoration: line-through;
    font-style: oblique;
    color: silver;
  }

  &--filtered {
    display: none;
  }
}
