// Todo module
.todo {
  width: 100%;
  border-bottom: 1px solid map-get($colors, lightgray);
  text-align: left;
  font-family: San Francisco;
  font-size: 18px;
  display: inline-flex;

  &--status-completed {
    text-decoration: line-through;
  }

  &--status-archived {
    text-decoration: line-through;
    font-style: oblique;
    color: silver;
  }

  &--filtered {
    display: none;
  }

  &--link {
    width: map-get($todo, link-width);
    height: map-get($todo, height);
    text-decoration: inherit;
    padding-top: 15px;
    overflow-y: scroll;
    // background-color: lightpink;
  }

  &--checkbox {
    width: map-get($todo, check-width);
    height: map-get($todo, height);
    // appearance: none;
    // -webkit-appearance: none;
    // background-color: skyblue;
  }

  &--checkbox-placeholder {
    width: map-get($todo, check-width);
    margin-left: 5px;
    height: map-get($todo, height);
    // background-color: skyblue;
  }
}
